button {
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  align-items: center;
  background-color: rgb(230, 225, 225);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 10px;
  transition: all 0.5s ease;
}

button:hover {
  letter-spacing: 3px;
  background-color: #2D9596;
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(6, 207, 229) 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: #278183;
  color: hsl(0, 0%, 100%);
  box-shadow: #1a1c1c;
  transform: translateY(10px);
  transition: 100ms;
}
.button {
  margin-left: 650px;
  margin-top: 50px;
  padding-top: 60px;
}